<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add product</title>
</head>
<body>
<form id="form" action="/backend/product/add" method="post" enctype="multipart/form-data">
    <table>
    <br>product name<input id="name" type="text" name="name">
    <br>profile <input id="profile" type="text" name="profile">
    <br>price <input id="price" type="number" name="price">
    <br>pictureToShow <input type="file" id="show" name="show">
    <br>pictureToDescribe<input type="file" id="des" name="des">
    </table>
    <br><input type="submit" value="submit" id="submit">
</form>
<br>{{.isSuc}}
</body>
</html>